/* CSS for Flashcards Game */
/*Flashcard styles*/
.flashcard-block {

    display: flex;
    height: 373px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    align-self: stretch;

    border-radius: 8px;
    border: 2px solid var(--light-300, #F2F0EF);

    cursor: pointer;
}

.image {
    max-height: 200px;
    flex-shrink: 0;
}

.flashcard-text {
    color: var(--primary-500, #00262B);
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.flashcard-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.flashcard-navigation {
    display: flex;
    align-items: center;
    gap: 16px;
}

.flashcard-left-button, .flashcard-right-button {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 6px;
    justify-content: center;
    align-items: center;

    border-radius: 999999984306749400px;
    background: var(--light-300, #F2F0EF);

    cursor: pointer;
}

.flashcard-left-button:hover, .flashcard-right-button:hover {
    background: var(--light-400, #E1DDDB);
}

.flashcard-left-image, .flashcard-right-image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.flashcard-navigation-text {
    color: var(--primary-500, #00262B);
    text-align: center;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

